* {
    margin: 0;
    padding: 0;
}
/* Hide scrollbar */
#id-fig-memory-row {
    /* Internet Explorer, Edge */
    -ms-overflow-style: none;
    /* for Firefox */
    scrollbar-width: none;
}
#id-fig-memory-row::-webkit-scrollbar {
    /* for Chrome, Safari, and Opera */
    display: none;
}

*[class="output-example-loading"][data-dash-is-loading="true"]{
    visibility: hidden;
}
*[class="output-example-loading"][data-dash-is-loading="true"]::before{
    content: "wiiiiiiiiiiiiiiiiiiiiii";
    display: inline-block;
    color: magenta;
    visibility: visible;
}
